@charset "UTF-8";


    --cor01: #83e1ad;
    --cor02: #3ddc84;
    --cor03: #2fa866;
    --cor04: #1a5c37;
    --cor05: #063d1e;

    --fonte-padrao:"";
    --fonte-destaque:"";
    --fonte-android::"";
}

* {
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    font-family: var(--fonte-padrao);
    color: white;
    height: 300px;
    background-image: linear-gradient(to bottom, white, black);
}
