@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}



:root {
    --cor00: #83e1ad50;
    --cor01: #83e1ad;
    --cor02: #3ddc84;
    --cor03: #2fa866;
    --cor04: #1a5c37;
    --cor05: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
    

}

*{
    margin: 0px;
    padding: 0px;
    
}

body {
    background-image: url('../imagens/fundo.jpg');
    font-family: var(--fonte-padrao);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;/*em px ou contain ou cover*/
    background-attachment: fixed;
    height: 100vh;
}

strong {
    background-color: var(--cor01);
    color: var(--cor04);
    font-size: 1.1em;
}

header {

    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor01), var(--cor03), var(--cor05));
    
}
header h1 {
    color: white;
    font-family: var(--fonte-destaque);
    text-align: center;
    font-size: 3em;
    padding-top: 20px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.267);
    font-weight: normal;
    

}
header > p {
    color: white;
    padding-bottom: 20px;
    max-width: 400px;
    margin: auto;
    font-size: 1.2em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.267);
}

nav {
    background-color: var(--cor05);
    height: 30px;

}
nav > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 1.2em;
}

nav > a:hover {
    font-size: 1.4em;
    text-decoration: underline;
    background-color: #83e1ad;
    color: var(--cor05);
    padding: 5px;
    border-radius: 5px;
}

main {

    margin: auto;
    max-width: 800px;
    background-color: white;
    text-align: justify;
    padding: 10px;
    line-height: 2em;
    
}

main > article > h1 {
    font-family: var(--fonte-android);
    background-image: linear-gradient(to left, var(--cor00), var(--cor03));
    text-indent: 5px;
    color: var(--cor05);
}

main > article > h2 {
    font-family: var(--fonte-android);
    background-image: linear-gradient(to left, var(--cor00), var(--cor03));
    text-indent: 5px;
    color: var(--cor05);
}

main  p {
    text-indent: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

main strong {
    font-weight: bold;
    color: var(--cor04);
}

main a {
    background-color: var(--cor01);
    font-weight: bold;
    text-decoration: none;
    color: var(--cor05)

}

main a:after {
    content: (\0020\1F517);


}

aside {
    background-color: var(--cor01);
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 3px 13px black;
    border-radius: 10px 10px 0px 0px;

}

aside h2 {
    background-color: var(--cor05);
    color: white;
    border-radius: 10px 10px 0px 0px;
    margin-left: -10px;
    margin-right: -10px;
    text-indent: 5px;
    

}
aside ul {
    list-style-type: '\2714\0020\0020';
    list-style-position: inside;
    column-count: 2;
}

img.android {

    display: block;
    margin: auto;
}


footer {
    background-color: var(--cor05);
    color: white;
    text-align: center;
}



